[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/api/drive-upload"
  to = "/.netlify/functions/drive-upload"
  status = 200
  force = true

[[redirects]]
  from = "/api/drive-list"
  to = "/.netlify/functions/drive-list"
  status = 200
  force = true

